@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  background-color: #edf2f6;
}

body {
  background-color: #edf2f6;
}
